## World cup 2022 predicions

The task is to predict the winner of the world cup 2022 on the basis of previous world cup results. The data is available in the file `worldcups.csv`, which contains the winners of the previous world cups. In the file `wcmatches.csv` you can find the results of all matches played in the world cups. The data is available from [Kaggle](https://www.kaggle.com/abecklas/fifa-world-cup). You can use some part of the data for training and some part for testing.

Then you can use the trained model to predict the winner of the world cup 2022 on the basis of the results of the matches played in the world cup 2022. The results of the matches can be found in the file `Fifa_world_cup_matches.csv`.

Few ideas for the prediction:

1. (Simple binary classification) Use the results of the matches in the group stage and 1st round of the knockout stage to to predict whether given country is a winner or not. -- disadvantage: the classes are not balanced (there are more losers than winners)

2. Predict each match independently, i.e. as features use the results of the given team in last 3 matches and the results of the opponent in last 3 matches. Then on this basis predict the result of the match. To get the final winner iterate through all matches in the knockout stage and predict the winner of each match.

### Import the data

In [2]:
import pandas as pd

winners = pd.read_csv('worldcups.csv')
winners.head()

,year,host,winner,second,third,fourth,goals_scored,teams,games,attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,434000
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,395000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,483000
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1337000
4,1954,Switzerland,West Germany,Hungary,Austria,Uruguay,140,16,26,943000

In [3]:
matches = pd.read_csv('wcmatches.csv')
matches.head()

,year,country,city,stage,home_team,away_team,home_score,away_score,outcome,win_conditions,winning_team,losing_team,date,month,dayofweek
0,1930,Uruguay,Montevideo,Group 1,France,Mexico,4,1,H,NaN,France,Mexico,1930-07-13,Jul,Sunday
1,1930,Uruguay,Montevideo,Group 4,Belgium,United States,0,3,A,NaN,United States,Belgium,1930-07-13,Jul,Sunday
2,1930,Uruguay,Montevideo,Group 2,Brazil,Yugoslavia,1,2,A,NaN,Yugoslavia,Brazil,1930-07-14,Jul,Monday
3,1930,Uruguay,Montevideo,Group 3,Peru,Romania,1,3,A,NaN,Romania,Peru,1930-07-14,Jul,Monday
4,1930,Uruguay,Montevideo,Group 1,Argentina,France,1,0,H,NaN,Argentina,France,1930-07-15,Jul,Tuesday

In [4]:
matches2k22 = pd.read_csv('Fifa_world_cup_matches.csv')
matches2k22.head()

,team1,team2,possession team1,possession team2,possession in contest,number of goals team1,number of goals team2,date,hour,category,...,penalties scored team1,penalties scored team2,goal preventions team1,goal preventions team2,own goals team1,own goals team2,forced turnovers team1,forced turnovers team2,defensive pressures applied team1,defensive pressures applied team2
0,QATAR,ECUADOR,42%,50%,8%,0,2,20 NOV 2022,17 : 00,Group A,...,0,1,6,5,0,0,52,72,256,279
1,ENGLAND,IRAN,72%,19%,9%,6,2,21 NOV 2022,14 : 00,Group B,...,0,1,8,13,0,0,63,72,139,416
2,SENEGAL,NETHERLANDS,44%,45%,11%,0,2,21 NOV 2022,17 : 00,Group A,...,0,0,9,15,0,0,63,73,263,251
3,UNITED STATES,WALES,51%,39%,10%,1,1,21 NOV 2022,20 : 00,Group B,...,0,1,7,7,0,0,81,72,242,292
4,ARGENTINA,SAUDI ARABIA,64%,24%,12%,1,2,22 NOV 2022,11 : 00,Group C,...,1,0,4,14,0,0,65,80,163,361